In [81]:
import pandas as pd
from datetime import datetime
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Create Url's to download files
sports = ['nfl','nba','nhl','mlb']
for sport in sports:
    print(sport)
    
    for i in range(10,22):
        
        if sport == 'mlb':
            url = f'https://www.sportsbookreviewsonline.com/scoresoddsarchives/{sport}/{sport}%20odds%2020{i}.xlsx'

        else:
            year = str(i)+"-"+str(i+1)
            url = f'https://www.sportsbookreviewsonline.com/scoresoddsarchives/{sport}/{sport}%20odds%2020{year}.xlsx'

        print(url)

nfl
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202010-11.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202011-12.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202012-13.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202013-14.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202014-15.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202015-16.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202016-17.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202017-18.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202018-19.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202019-20.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202020-21.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nfl/nfl%20odds%202021-22.xlsx
nba
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202010-11.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202011-12.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202012-13.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202013-14.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202014-15.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202015-16.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202016-17.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202017-18.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202018-19.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202019-20.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202020-21.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nba/nba%20odds%202021-22.xlsx
nhl
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202010-11.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202011-12.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202012-13.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202013-14.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202014-15.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202015-16.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202016-17.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202017-18.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202018-19.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202019-20.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202020-21.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/nhl/nhl%20odds%202021-22.xlsx
mlb
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202010.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202011.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202012.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202013.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202014.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202015.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202016.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202017.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202018.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202019.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202020.xlsx
https://www.sportsbookreviewsonline.com/scoresoddsarchives/mlb/mlb%20odds%202021.xlsx

In [3]:
# MLB
sport = 'mlb'
mlb_df = pd.read_excel(f'Odds Data/{sport}/{sport} odds 2010.xlsx')
path = f'Odds Data/{sport}/{sport} odds 20'

for i in range(11,22):
    df2 = pd.read_excel(path+str(i)+'.xlsx')
    mlb_df.append(df2)

In [16]:
# NFL
sport = 'nfl'
nfl_df = pd.read_excel(f'Odds Data/{sport}/{sport} odds 2010-11.xlsx')
path = f'Odds Data/{sport}/{sport} odds 20'

for i in range(11,21):
    df2 = pd.read_excel(path+str(i)+"-"+str(i+1)+'.xlsx')
    nfl_df.append(df2)

In [17]:
# NBA
sport = 'nba'
nba_df = pd.read_excel(f'Odds Data/{sport}/{sport} odds 2010-11.xlsx')
path = f'Odds Data/{sport}/{sport} odds 20'

for i in range(11,21):
    df2 = pd.read_excel(path+str(i)+"-"+str(i+1)+'.xlsx')
    nba_df.append(df2)

In [47]:
# NHL
sport = 'nhl'
nhl_df = pd.read_excel(f'Odds Data/{sport}/{sport} odds 2010-11.xlsx')
path = f'Odds Data/{sport}/{sport} odds 20'

nhl_df['Year']= 2010

for i in range(11,20):
    df2 = pd.read_excel(path+str(i)+"-"+str(i+1)+'.xlsx')
    year = int('20'+str(i))
    df2['Year']= year
    nhl_df.append(df2)
    
nhl2 = pd.read_excel(path+'21.xlsx')
nhl_df.append(df2)

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Open OU,Unnamed: 11,Close OU,Unnamed: 13,Year,PuckLine,OpenOU,CloseOU,Unnamed: 15
0,1007,1,V,Carolina,1,3,0,4,-105,100,5.5,105,5.5,110,2010,NaN,NaN,NaN,NaN
1,1007,2,H,Minnesota,1,1,1,3,-115,-120,5.5,-125,5.5,-130,2010,NaN,NaN,NaN,NaN
2,1007,3,V,Philadelphia,0,2,1,3,147,150,6.0,-115,6.0,-125,2010,NaN,NaN,NaN,NaN
3,1007,4,H,Pittsburgh,0,0,2,2,-167,-170,6.0,-105,6.0,105,2010,NaN,NaN,NaN,NaN
4,1007,5,V,Montreal,1,0,1,2,110,135,5.5,-115,5.5,-120,2010,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2419,925,28,N,Dallas,2,1,1,4,140,135,NaN,-190,NaN,-110,2019,1.5,5.0,5.0,110.0
2420,926,29,N,Dallas,1,0,1,3,145,150,NaN,-180,NaN,-110,2019,1.5,5.0,5.0,-135.0
2421,926,30,N,TampaBay,0,1,1,2,-166,-165,NaN,160,NaN,-110,2019,-1.5,5.0,5.0,115.0
2422,928,1,N,TampaBay,1,1,0,2,-161,-170,NaN,155,NaN,-110,2019,-1.5,5.0,5.0,-135.0
2423,928,2,N,Dallas,0,0,0,0,141,155,NaN,-175,NaN,-110,2019,1.5,5.0,5.0,115.0

In [48]:
nhl_df = nhl_df.append(df2)

In [49]:
mlb_df.head()

,Date,Rot,VH,Team,Pitcher,1st,2nd,3rd,4th,5th,...,7th,8th,9th,Final,Open,Close,Open OU,Unnamed: 18,Close OU,Unnamed: 20
0,404,931,V,NYY,CSABATHIA-L,0,2,0,3,0,...,2,0,0,7,-106,-103,9.0,-116,9,-105
1,404,932,H,BOS,JBECKETT-R,0,1,0,0,1,...,3,1,x,9,-114,-117,9.0,-104,9,-115
2,405,901,V,PHI,RHALLADAY-R,0,0,0,5,0,...,4,0,0,11,-200,-200,7.5,100,7.5,-125
3,405,902,H,WAS,JLANNAN-L,1,0,0,0,0,...,0,0,0,1,170,170,7.5,-120,7.5,105
4,405,903,V,MIA,JJOHNSON-R,0,0,0,0,0,...,0,0,0,1,-105,-112,7.0,-125,7,-130

In [8]:
nfl_df.head()

   Date  Rot VH        Team  1st  2nd  3rd  4th  Final  Open Close   ML    2H
0   909  451  V   Minnesota    0    9    0    0      9  51.5  49.5  190    24
1   909  452  H  NewOrleans    7    0    7    0     14   4.5     5 -230     3
2   912  453  V    Carolina    3   13    0    2     18    40  40.5  220  20.5
3   912  454  H    NYGiants    7    7   10    7     31     7     6 -260   3.5
4   912  455  V       Miami    3    7    0    5     15     3     3 -175    pk

In [9]:
nba_df.head()

   Date  Rot VH      Team  1st  2nd  3rd  4th  Final   Open Close   ML     2H
0  1026  501  V     Miami    9   21   27   23     80      2     1 -125      5
1  1026  502  H    Boston   16   29   18   25     88    193   188  105     94
2  1026  503  V   Phoenix   26   20   35   11     92  200.5   204  255  101.5
3  1026  504  H  Portland   28   22   25   31    106    5.5     7 -310    3.5
4  1026  505  V   Houston   33   29   20   28    110    202   195  255     99

In [28]:
nhl_df.head()

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Open OU,Unnamed: 11,Close OU,Unnamed: 13
0,1007,1,V,Carolina,1,3,0,4,-105,100,5.5,105,5.5,110
1,1007,2,H,Minnesota,1,1,1,3,-115,-120,5.5,-125,5.5,-130
2,1007,3,V,Philadelphia,0,2,1,3,147,150,6.0,-115,6.0,-125
3,1007,4,H,Pittsburgh,0,0,2,2,-167,-170,6.0,-105,6.0,105
4,1007,5,V,Montreal,1,0,1,2,110,135,5.5,-115,5.5,-120

# Clean NHL data

In [50]:
nhl_df

,Date,Rot,VH,Team,1st,2nd,3rd,Final,Open,Close,Open OU,Unnamed: 11,Close OU,Unnamed: 13,Year,PuckLine,OpenOU,CloseOU,Unnamed: 15
0,1007,1,V,Carolina,1,3,0,4,-105,100,5.5,105,5.5,110,2010,NaN,NaN,NaN,NaN
1,1007,2,H,Minnesota,1,1,1,3,-115,-120,5.5,-125,5.5,-130,2010,NaN,NaN,NaN,NaN
2,1007,3,V,Philadelphia,0,2,1,3,147,150,6.0,-115,6.0,-125,2010,NaN,NaN,NaN,NaN
3,1007,4,H,Pittsburgh,0,0,2,2,-167,-170,6.0,-105,6.0,105,2010,NaN,NaN,NaN,NaN
4,1007,5,V,Montreal,1,0,1,2,110,135,5.5,-115,5.5,-120,2010,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2419,925,28,N,Dallas,2,1,1,4,140,135,NaN,-190,NaN,-110,2019,1.5,5.0,5.0,110.0
2420,926,29,N,Dallas,1,0,1,3,145,150,NaN,-180,NaN,-110,2019,1.5,5.0,5.0,-135.0
2421,926,30,N,TampaBay,0,1,1,2,-166,-165,NaN,160,NaN,-110,2019,-1.5,5.0,5.0,115.0
2422,928,1,N,TampaBay,1,1,0,2,-161,-170,NaN,155,NaN,-110,2019,-1.5,5.0,5.0,-135.0
2423,928,2,N,Dallas,0,0,0,0,141,155,NaN,-175,NaN,-110,2019,1.5,5.0,5.0,115.0

In [51]:
clean_nhl = nhl_df[['Date', 'VH', 'Team', 'Final','PuckLine', 'Year']].copy()

In [1]:
clean_nhl

NameError: name 'clean_nhl' is not defined

In [53]:
def month(x):
    if len(str(x)) > 3:
        return int(str(x)[:2])
    else:
        return int(str(x)[:1])
    
def day(x):
    if len(str(x)) > 3:
        return int(str(x)[2:])
    else:
        return int(str(x)[1:])

    
clean_nhl["Month"] = clean_nhl['Date'].apply(lambda x: month(x))
clean_nhl["Day"] = clean_nhl['Date'].apply(lambda x: day(x))

In [54]:
cols=['Year', 'Month', 'Day']
clean_nhl["Date"] = clean_nhl[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")

In [55]:
clean_nhl.head()

        Date VH          Team  Final  PuckLine  Year  Month  Day
0  2010-10-7  V      Carolina      4       NaN  2010     10    7
1  2010-10-7  H     Minnesota      3       NaN  2010     10    7
2  2010-10-7  V  Philadelphia      3       NaN  2010     10    7
3  2010-10-7  H    Pittsburgh      2       NaN  2010     10    7
4  2010-10-7  V      Montreal      2       NaN  2010     10    7

In [56]:
clean_nhl = clean_nhl.drop(['Year', 'Month', 'Day'], axis=1)

In [57]:
clean_nhl['Team'].unique()

array(['Carolina', 'Minnesota', 'Philadelphia', 'Pittsburgh', 'Montreal',
       'Toronto', 'Chicago', 'Colorado', 'Calgary', 'Edmonton',
       'Columbus', 'SanJose', 'Anaheim', 'Detroit', 'Dallas', 'NewJersey',
       'Buffalo', 'Ottawa', 'Washington', 'Atlanta', 'Phoenix', 'Boston',
       'NYRangers', 'NYIslanders', 'TampaBay', 'St.Louis', 'Nashville',
       'LosAngeles', 'Vancouver', 'Florida', 'Vegas', 'Winnipeg',
       'Arizona', 'Arizonas', 'Tampa'], dtype=object)

In [58]:
teams = {
"Carolina" : "Carolina Hurricanes",
"Minnesota": "Minnesota Wild",
"Philadelphia": "Philadelphia Flyers",
"Pittsburgh": "Pittsburgh Penguins",
"Montreal": "Montreal Canadiens",
"Toronto": "Toronto Maple Leafs",
"Chicago": "Chicago Blackhawks",
"Colorado": "Colorado Avalanche",
"Calgary": "Calgary Flames",
"Edmonton": "Edmonton Oilers",
"Columbus": "Columbus Blue Jackets",
"SanJose": "San Jose Sharks",
"Anaheim": "Anaheim Ducks",
"Detroit": "Detroit Red Wings",
"Dallas": "Dallas Stars",
"NewJersey": "New Jersey Devils",
"Buffalo": "Buffalo Sabres",
"Ottawa": "Ottawa Senators",
"Washington": "Washington Capitals",
"Atlanta": "Atlanta Thrashers",
"Phoenix": "Arizona Coyotes",
"Boston": "Boston Bruins",
"NYRangers": "New York Rangers",
"NYIslanders": "New York Islanders",
"TampaBay": "Tampa Bay Lightning",
"St.Louis": "St. Louis Blues",
"Nashville": "Nashville Predators",
"LosAngeles": "Los Angeles Kings",
"Vancouver": "Vancouver Canucks",
"Florida": "Florida Panthers",
"Winnipeg": "Winnipeg Jets",
"Arizona": "Arizona Coyotes",
"Vegas": "Los Vegas Knights",
"Arizonas": "Arizona Coyotes",
"Tampa": "Tampa Bay Lightning"
}

In [59]:
clean_nhl['Team'] = clean_nhl['Team'].map(teams)

In [60]:
clean_nhl.head()

        Date VH                 Team  Final  PuckLine
0  2010-10-7  V  Carolina Hurricanes      4       NaN
1  2010-10-7  H       Minnesota Wild      3       NaN
2  2010-10-7  V  Philadelphia Flyers      3       NaN
3  2010-10-7  H  Pittsburgh Penguins      2       NaN
4  2010-10-7  V   Montreal Canadiens      2       NaN

In [77]:
rds_connection_string = "postgres:root@localhost:5433/Sports_Odds"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [82]:
conn_string = "host='localhost' dbname='Sports_Odds' user='postgres' password='root'"
conn = psycopg2.connect(conn_string)

OperationalError: FATAL:  role "postgres" does not exist

In [78]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) FATAL:  password authentication failed for user "joshhopkins"

(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
clean_nhl.to_sql(name='nhl', con=engine, if_exist='append', index=FALSE)

In [ ]:
pd.read_sql_query('SELECT * from nhl', con=engine).head()